@color-1: #fff;
@padding-xs: 8px;

.wrapper {
  display: flex;
  align-items: center;
  width: 886px;
  padding: 20px;
}

.mainContainer {
  width: 205px;
  margin-top: 2px;
  padding: 2px 2px @padding-xs;
  background-color: @color-1;
}

.profileImage {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  border-radius: 8px;
}
